
<style>
    .hl-nav {
        width: 100% !important;
        position: relative;
    }

        .hl-nav span, .hl-nav a {
            font-weight: bold;
            letter-spacing: 1px;
            color: rgb(156,226,255) !important;
        }
        .hl-nav a {
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 21px;
            font-size: 16px;
            color: rgb(71, 145, 200) !important;
        }
        .hl-nav span {
            color: rgb(71, 145, 200) !important;
        }
    .hl-home {
        padding: 17px;
        position: absolute;
        top: 0.5px;
        left: 60px;
    }
</style>
<div class="hl-nav">
    <a href="" title="Home Page" class="hl-home"><span class="glyphicon glyphicon-home"></span> Home</a>
    <a href="" style="padding: 0;">
        <img src="~/Images/logo/logo1.gif" width="96" height="55" title="James's Library"  style="margin-top: 5px; margin-bottom: 5px" />
    </a>
</div>
